### WordPress ###
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/readme.html
/license.txt


node_modules/
wp-content/themes/*/style.css
wp-content/themes/*/script.css
wp-content/themes/*/vendors.css
wp-content/themes/*/dist/
wp-content/themes/**/bower_components
*.DS_Store
*.orig


gulpfile.js
gulp/gulp.config.js


wp-content/themes/twenty*
